<h1><%= t "user" %></h1>
<table cellspacing="0">
  <thead>
    <tr>
      <th><%= t "name" %></th>
      <th><%= t "email" %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr class="evenss">
        <td><%= link_to user.name, user %></td>
        <td><%= user.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>
