<h2><%= t "course.users.trainee" %></h2>

<%= form_for [:admin, @course] do |f| %>
  <table id="trainee_lists" class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th><%= t "user.email" %></th>
        <th><%= t "user.name" %></th>
        <th><%= t "user.created_at" %></th>
        <th><%= t "user.updated_at" %></th>
        <th><%= t "button.action" %></th>
      </tr>
    </thead>
    <tbody class="page">
      <%= render "trainees", f: f %>
    </tbody>
  </table>
  <%= f.submit t("button.add_trainee"), class: "btn btn-primary btn-default" %>
<% end %>
<%= link_to_next_page @users, "Load More", remote: true, id: "load_more_link" %>
