<h2><%= t "course.users.trainee" %></h2>
<%= search_form_for @q, url: admin_course_trainees_path(@course), html: {method: :get} do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name_cont %>
  <%= f.label :email %>
  <%= f.text_field :email_cont %>
  <%= f.submit t("button.search"), class: "btn btn-primary btn-default" %>
<% end %>
<%= form_for [:admin, @course] do |f| %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th><%= t "user.email" %></th>
        <th><%= t "user.name" %></th>
        <th><%= t "user.created_at" %></th>
        <th><%= t "user.updated_at" %></th>
        <th><%= t "button.action" %></th>
      </tr>
    </thead>
    <tbody class="page">
      <%= render "trainees", f: f, users: @users %>
    </tbody>
  </table>
<%= f.submit t("button.add_trainee"), class: "btn btn-primary btn-default" %>
<% end %>
<%= link_to_next_page @users, "Load More", remote: true, id: "load_more_link" %>
<div></div>
