<h2><%= t "course.subjects", course_name: @course.name %></h2>
<%= search_form_for @q, url: admin_course_course_subjects_path(@course), html: {method: :get} do |f| %>
  <%= f.text_field :name_cont %>
  <%= f.submit t("button.search"), class: "btn btn-primary btn-default" %>
<% end %>
<%= form_for [:admin, @course] do |f| %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th><%= t "subject.name" %></th>
        <th><%= t "subject.instruction" %></th>
        <th><%= t "subject.created_at" %></th>
        <th><%= t "subject.updated_at" %></th>
        <th><%= t "button.action" %></th>
      </tr>
    </thead>
    <tbody class="page">
      <%= render "subjects", f: f %>
    </tbody>
  </table>
  <%= f.submit t("button.submit"), class: "btn btn-default btn-primary" %>
<% end %>
<%= link_to_next_page @subjects, "Load More", remote: true, id: "load_more_link" %>

