<h2><%= t "course_subject" %></h2>

<%= form_for [:admin, @course_subject] do |f| %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th><%= t "users.email" %></th>
        <th><%= t "users.name" %></th>
        <th><%= t "users.created_at" %></th>
        <th><%= t "users.updated_at" %></th>
        <th><%= t "button.action" %></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each_with_index do |user, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= link_to user.email, "#" %></td>
          <td><%= user.name %></td>
          <td><%= t "ago", time: time_ago_in_words(user.created_at) %></td>
          <td><%= t "ago", time: time_ago_in_words(user.updated_at) %></td>
          <td>
            <%= f.fields_for :user_subjects, @course_subject.user_subjects.build do |builder| %>
              <%= builder.check_box :_destroy, {checked: @course_subject.has_user?(user)}, 0, 1 %>
              <%= builder.hidden_field :id, value:
                @course_subject.user_subject_of(user).id if @course_subject.user_subject_of(user).present? %>
              <%= builder.hidden_field :user_id, value: user.id %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= f.submit t("button.submit"), class: "btn btn-primary" %>
<% end %>
