<h2><%= t "users.list" %></h2>
<%= link_to t("users.create"), new_admin_user_path, class: "btn btn-primary" %>
<table id= "users" class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th><%= t "users.email" %></th>
      <th><%= t "users.name" %></th>
      <th><%= t "users.created_at" %></th>
      <th><%= t "users.updated_at" %></th>
      <th><%= t "button.action" %></th>
    </tr>
  </thead>
  <tbody class="page">
    <%= render @users %>
  </tbody>
</table>
<%= link_to_next_page @users, "Load More", remote: true, id: "load_more_link" %>
