<h1><%= t "courses" %></h1>
<%= link_to t("course.create"), new_admin_course_path, class: "btn btn-primary" %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th><%= t "course.name" %></th>
      <th><%= t "course.instruction" %></th>
      <th><%= t "course.created_at" %></th>
      <th><%= t "course.updated_at" %></th>
      <th><%= t "course.status" %></th>
      <th><%= t "button.action" %></th>
    </tr>
  </thead>
  <tbody>
    <% @courses.each_with_index do |course, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= link_to course.name, [:admin, course] %></td>
        <td><%= course.instruction %></td>
        <td><%= t "ago", time: time_ago_in_words(course.created_at) %></td>
        <td><%= t "ago", time: time_ago_in_words(course.updated_at) %></td>
        <td>
          <%= status_of(course).html_safe %>
        </td>
        <td>
          <%= link_to t("button.edit"), edit_admin_course_path(course), class: "btn btn-primary" %>
          <%= link_to t("button.delete"), admin_course_path(course),
            method: :delete, data: {confirm: t("alert")}, class:
            "btn btn-default btn-primary" %>
          <%= link_to t("button.finish"), admin_course_path(course, "course[status]": :finished),
            method: :put, class: "btn btn-primary" unless course.finished? %>
          <%= link_to t("button.inactive"), admin_course_path(course, "course[status]": :inactive),
            method: :put, class: "btn btn-primary" unless course.inactive? %>
          <%= link_to t("button.active"), admin_course_path(course, "course[status]": :active),
            method: :put, class: "btn btn-primary" unless course.active? %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
