<div class="row">
  <div class="col-md-2">
    <%= image_tag Settings.course.course_image, size: Settings.course.size %>
    <h1><%= @course.name %></h1>
    <%= link_to t("list_trainee"), admin_course_trainees_path(@course), class: "btn btn-primary btn-default" %>
    <%= link_to t("list_supervisor"), admin_course_supervisors_path(@course), class: "btn btn-primary btn-default" %>
  </div>
  <div class="col-md-8">
    <h1><%= t "overview" %></h1>
    <hr />
    <p><%= @course.instruction %></p>
    <h1><%= t "course.subjects", course_name: @course.name %></h1>
    <ul class="list-unstyled">
      <% @subjects.each do |subject| %>
        <li>
          <h4>
            <b><%= link_to subject.name, "#" %></b>
            <%= course_subject_status(@course_subjects, subject).html_safe %>
          </h4>
        </li>
      <% end %>
    </ul>
    <%= paginate @subjects %>
  </div>
</div>
