<div class="row">
  <div class="col-md-2">
    <%= image_tag Settings.course.course_image, size: Settings.course.size %>
    <h1><%= @course.name %></h1>
    <%= link_to t("list_trainee"), admin_course_trainees_path(@course), class: "btn btn-primary btn-default" %>
    <%= link_to t("list_supervisor"), admin_course_supervisors_path(@course), class: "btn btn-primary btn-default" %>
    <%= link_to t("list_subject"), admin_course_course_subjects_path(@course), class: "btn btn-primary btn-default" %>
  </div>
  <div class="col-md-8">
    <h1><%= t "overview" %></h1>
    <hr />
    <p><%= @course.instruction %></p>
    <h1><%= t "course.subjects", course_name: @course.name %></h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th><%= t "subject.name" %></th>
            <th><%= t "subject.instruction" %></th>
            <th><%= t "subject.created_at" %></th>
            <th><%= t "subject.updated_at" %></th>
            <th><%= t "subject.status" %></th>
            <th><%= t "button.action" %></th>
          </tr>
        </thead>
        <tbody>
          <% @course_subjects.each_with_index do |course_subject, index| %>
            <tr>
              <td><%= index + 1 %></td>
              <td><%= link_to course_subject.subject.name, admin_course_subject_path(course_subject) %></td>
              <td><%= course_subject.subject.instruction %></td>
              <td><%= t "ago", time: time_ago_in_words(course_subject.subject.created_at) %></td>
              <td><%= t "ago", time: time_ago_in_words(course_subject.subject.updated_at) %></td>
              <td>
                <%= status_of(course_subject).html_safe %>
              </td>
              <td>
                <%= link_to t("button.inactive"), admin_course_subject_path(
                  course_subject, "course_subject[status]": :inactive),
                  method: :put, class: "btn btn-primary" unless course_subject.inactive? %>
                <%= link_to t("button.finish"), admin_course_subject_path(
                  course_subject,"course_subject[status]": :finished),
                  method: :put, class: "btn btn-primary" unless course_subject.finished? %>
                <%= link_to t("button.active"), admin_course_subject_path(
                  course_subject, "course_subject[status]": :active),
                  method: :put, class: "btn btn-primary" unless course_subject.active? %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <%= paginate @course_subjects %>
  </div>
</div>
